@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --main-bg-color: #ffffff;
  --fc-color: #474747;
  --accent-color: #00c896;
}

body {
  color: var(--fc-color);
  font-family: 'Roboto', sans-serif;
}

.pagewrapper {
  display: grid;
  grid-template-columns: 15% 20% 1fr 15%;
  background-color: var(--main-bg-color);
}

.header {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.header__intronav--name {
  font-size: 3rem;
  text-align: center;
}
.header__intronav--role {
  font-size: 1.5rem;
  text-align: center;
}

.header__nav {
  list-style: none;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

.header__nav > li {
  padding: 0.25rem;
}

.aboutme {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.aboutme__title {
  padding-bottom: 5rem;
  color: var(--accent-color);
}

.aboutme__intro {
  font-size: var(--fs-mid);
  line-height: 1.5rem;
  text-align: justify;
  padding: 0 8rem;
}

.projects {
  grid-column: 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.projects__title {
  align-self: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: var(--accent-color);
}

.projects__grid-container {
  display: grid;
  grid-template-columns: 80%;
  gap: 5rem;
  justify-content: center;
}

.projects__grid-container > img {
  max-width: 100%;
  height: auto;
}

.contactme {
  grid-column: 3;
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 10rem 8rem 0 8rem;
  max-width: 70%;
  justify-self: center;
}

.contactme__title {
  text-align: center;
  color: var(--accent-color);
  padding-bottom: 5rem;
}
.contactme__message {
  display: flex;
  flex-direction: column;
}

.contactme__email {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  position: sticky;
  grid-column: 2;
  top: 70rem;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.socials__logo {
  width: 100%;
  max-width: 50px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  grid-column: 3;
  grid-row: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}
/* Component CSS starts here */
.projectcard {
  display: flex;
  padding: 3rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  -moz-transition: 0.75s;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  justify-content: center;
  align-items: center;
}

.projectcard:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s ease-in;
}

.projectcard__image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5%;
  margin-bottom: 2rem;
}

.projectcard__info {
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
}

.projectcard__description {
  text-align: justify;
}

.isCurrent {
  color: red;
}

/* Extra CSS for effects or other random items */
.navbar-highlight {
  color: red;
}

/* Media Queries */
@media screen and (max-width: 799px) {
  .aboutme__intro {
    padding: 0;
  }

  .projectcard, .projectcard__info {
    padding: .5rem;
  }

}

@media screen and (max-width: 1330px) {
  .header {
    grid-column: 2 / 4;
    grid-row: 1;
    position: static;
  }

  .header__nav {
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }

  .aboutme {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .projects {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .socials {
    grid-column: 2 / 4;
    grid-row: 4;
    position: static;
  }

  .contactme {
    grid-column: 2 / 4;
    grid-row: 5;
  }

  .footer {
    grid-column: 2 / 4;
    grid-row: 6;
  }
}

@media screen and (max-width: 2200px) {
  .projectcard {
    flex-direction: column;
  }
  .projectcard__title {
    text-align: center;
  }
}
