@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #242D63;
$secondary-color: #D5E6E5;
$accent-color: #5AECC1;

.pagewrapper {
    background-color: $primary-color;
}

.maincontent{
    color: $secondary-color;
}

.header {
    color: $accent-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: $primary-color;
}

.accenttext {
    color: $accent-color;
}

@media screen and (min-width: 1024px) {
    .socials::after {
        content: "";
        display: block;
        width: 1px;
        height: 60px;
        margin: 0 auto;
        background-color: $secondary-color;
    }
}