@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --main-bg-color: #210B46;
  --fc-color: #B0A8B9;
  --accent-color: #B0A8B9;
}

body {
  color: #FFFADE;
  font-family: 'Roboto', sans-serif;
}

.pagewrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--main-bg-color);
}

.header {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.header__nav {
  list-style: none;
  padding-top: 2rem;
}

.header__nav > li {
  padding: .25rem
}

.aboutme {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.aboutme__title {
  padding-bottom: 5rem;
}

.projects {
  grid-column: 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
}

.projects__title {
  align-self: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.projects__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

.contactme {
  grid-column: 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10rem;
}

.contactme__title {
  text-align: center;
}

.socials {
  display: flex;
  position: sticky;
  grid-column: 1;
  top: 70rem;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.socials__logo {
  width: 100%;
  max-width: 50px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  grid-column: 2;
  grid-row: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}
/* Component CSS starts here */
.projectcard {
  display: flex;
}

.projectcard__image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.projectcard__info {
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
}
