:root {
  --main-bg-color: #465362;
  --fc-color: #9da2ab;
  --accent-color: #679436;
}

body {
  color: var(--accent-color);
}

.pagewrapper {
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 1fr 1fr 10% 35px;
  background-color: var(--main-bg-color);
}

.introduction {
  grid-column: 3 / 11;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutme {
  grid-row: 2;
  grid-column: 3 / 11;
  text-align: center;
}

.projects {
  grid-column: 3 / 11;
  grid-row: 3;
  display: flex;
  flex-direction: column;
}

.projects__title {
  align-self: center;
}

.projects__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  flex: 1;
  border: 1px solid red;
  gap: 1rem;
}

.socials {
  grid-column: 3 / 11;
  grid-row: 4;
  display: flex;
  justify-content: center;
}

.socials__logo {
  height: 100%;
  width: 100%;
}

.footer {
  grid-column: 3 / 11;
  grid-row: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Component CSS starts here */
.projectcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
